* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialised;
    font-family: 'Inter', sans-serif;
    // font-family: 'Space Grotesk', sans-serif;
    color: #ffffff;
}

img {
    max-width: 100%;
    display: block;
}

a {
    display: block;
    text-decoration: none;
}

button {
    all: unset;
    cursor: pointer;
}

ul {
    list-style: none;
}

html {
    font-size: 62.5%;
    background-color: #0a0b0d;
}